@tailwind base;
@tailwind components;
@tailwind utilities;


:root{
  --text-primary: #111619;
    --text-default: #151b1d;
    --text-secondary: #1f2325;
    --text-secondary-1: #474849;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
height: 100vh;
overflow-y: hidden;
margin:0;
padding:0;
background:var( --text-default);
}

.page{
  width: 100%;
 color: aliceblue;
}
.page p{
background: var(--text-secondary);
padding: 10px 20px ;
border-radius: 5px;
width: 100%;
max-width: 500px;
margin: 0 auto;
}
.page .example p{
  cursor: pointer;
}
.page p:hover{
background: var(--text-primary);

}
.heading{
  display: flex;
  align-items: center;
  gap: 1rem;
  justify-content: center;
  font-size: 1.3rem;
  
}

.parent::-webkit-scrollbar, ::-webkit-scrollbar {
  width: 5px;
  border-radius:50px;
  height:4rem;
}


.parent::-webkit-scrollbar-thumb {
  background-color: #888;
}

.parent::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

@media screen and (min-width:900px) {
  
}